source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget coverlet.collector
nuget FsLexYacc
nuget FsUnit.xUnit
nuget Microsoft.NET.Test.Sdk
nuget mono.cecil
nuget ooui
nuget xunit
nuget xunit.runner.visualstudio